<h1>Edit Technology</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.technology_path(@conn, :update, @technology)) %>

<span><%= link "Back", to: Routes.technology_path(@conn, :index) %></span>
