/* This file is for your main application css. */

@import "./bulma.min.css";

#logo {
    background: url("/images/logo-blue.svg") no-repeat center center;
    background-size: cover;
    width: 150px;
}
  
.title {
  text-align: center;
}

header {
  margin-bottom: 3em;
}

.is-circle {
  border-radius: 70px;
  border: 1px dashed #224277;
}

.show {
  text-align: center;
}

.client-logo {
  margin: 0 auto;
}

.card-description, .message-description {
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 10px;
  white-space: nowrap;
  margin: 0;
}

.message-status {
  width: 300px;
  float: left;
}

.message-footer {
  text-align: center;
  padding: 10px;
}