/* This file is for your main application css. */

@import "./bulma.min.css";

body {
  background-color: #CEECF2;
  min-height: 100vh;
  padding-bottom: 5em;
}

.content {
  padding: 1em;
}

body>.container {
  padding-top: 2em;
  color: #224277;
}

span[data-phx-error-for] {
  color: #f14668;
  font-size: 12px;
}

.is-active {
  font-weight: bold;
}

#logo {
  background: url("/images/logo-blue.svg") no-repeat center center;
  background-size: cover;
  width: 150px;
}

.title,
.subtitle {
  text-align: center;
  color: #224277;
  text-shadow: 1px 1px 1px #2685BF;
}

header {
  margin-bottom: 3em;
}

.is-circle {
  border-radius: 70px;
  border: 1px dashed #224277;
}

.show {
  text-align: center;
}

.client-logo {
  margin: 0 auto;
}

.card-description,
.message-description {
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 10px;
  white-space: nowrap;
  margin: 0;
}

.message-status {
  width: 300px;
  float: left;
}

.message-footer {
  text-align: center;
  padding: 10px;
}

.board-column {
  background-color: #3B8FD9;
  border-radius: 5px;
  margin: 0 5px;
}

.board-column-header {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
}

#board {
  overflow-x: scroll;
  width: 100%;
}

.card-board {
  margin: 10px;
}

.card-board-social-media {
  font-size: 2em;
  text-align: center;
}

.card-content>.content {
  text-align: center;
}

#new-candidate,
#new-btn {
  padding: 1em;
  position: fixed;
  font-size: 2em;
  color: white;
  border-radius: 2em;
  right: 2em;
  bottom: 2em;
  text-shadow: 1px 1px 1px #224277;
  box-shadow: 1px 1px 5px #224277;
}