<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:page_title] || "Flow · Phoenix Framework" %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  
    <script>
      <%= if @conn.assigns.user do %>
        window.userToken = "<%= Phoenix.Token.sign(FlowWeb.Endpoint, "key", @conn.assigns.user.id) %>"
      <% end %>
    </script>

    <script src="https://kit.fontawesome.com/52b0b8d1a9.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tag() %>
  </head>
  <body>
    <div class="is-fullhd content">
      <header>
        <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" id="logo" href="#"></a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <%= if FlowWeb.LinkHelper.logged?(@conn) do %>
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-end">
                <%= if FlowWeb.LinkHelper.admin?(@conn) do %>
                  <%= link "Jobs", to: Routes.job_path(@conn, :index), class: "navbar-item #{FlowWeb.LinkHelper.active(@conn, Routes.job_path(@conn, :index))}" %>
                  <%= link "Clients", to: Routes.client_path(@conn, :index), class: "navbar-item #{FlowWeb.LinkHelper.active(@conn, Routes.client_path(@conn, :index))}" %>
                  <%= link "Status", to: Routes.status_path(@conn, :index), class: "navbar-item #{FlowWeb.LinkHelper.active(@conn, Routes.status_path(@conn, :index))}" %>
                  <%= link "Technology", to: Routes.technology_path(@conn, :index), class: "navbar-item #{FlowWeb.LinkHelper.active(@conn, Routes.technology_path(@conn, :index))}" %>
                <% end %>
                <%= link "Candidates", to: Routes.candidate_path(@conn, :index), class: "navbar-item #{FlowWeb.LinkHelper.active(@conn, Routes.candidate_path(@conn, :index))}" %>
                <div class="navbar-item">
                  <div class="buttons">
                    <a href="<%= Routes.user_path(@conn, :signout) %>" class="button is-info" >
                      <strong>Sign up</strong>
                    </a>
                  </div>
                </div>
              </div>
            </div>

          <% end %>
        </nav>
      </header>
      <main role="main">
        
        <%= unless is_nil(get_flash(@conn, :info)) do %>
          <div class="notification is-primary">
            <button class="delete"></button>
            <%= get_flash(@conn, :info) %>
          </div>
        <% end %>

        <%= unless is_nil(get_flash(@conn, :error)) do %>
          <div class="notification is-danger">
            <button class="delete"></button>
            <%= get_flash(@conn, :error) %>
          </div>
        <% end %>

        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
          $notification = $delete.parentNode;

          $delete.addEventListener('click', () => {
            $notification.parentNode.removeChild($notification);
          });
        });
      });
    </script>
  </body>
</html>

