<h1 class="subtitle">Edit Candidate</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.candidate_path(@conn, :update, @candidate)) %>

<a class="button is-link back-button" href="<%= Routes.candidate_path(@conn, :index) %>">
  <span class="icon">
    <i class="fas fa-undo-alt"></i>
  </span>
  <span>Back</span>    
</a>